{% extends "items/base.html" %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5">
        <div class="text-center text-white">
            <h1 class="display-6">About My Project</h1>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Project Objectives</h2>
                <p>The objective of this project is to develop an E-Market platform for small-scale groceries. This platform aims to connect local sellers with buyers, providing a convenient and efficient online marketplace for fresh produce and groceries.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
                <h2>Technologies Used</h2>
                <p>This project is built using the following technologies:</p>
                <ul>
                    <li>Django: A high-level Python web framework for rapid development and clean, pragmatic design.</li>
                    <li>Bootstrap: A front-end framework for developing responsive and mobile-first websites.</li>
                    <li>OpenWeatherMap API: Integrated for real-time location-based services.</li>
                    <li>SQLite: A lightweight database engine for storing project data.</li>
                </ul>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <h2>My Story</h2>
                <p>This project was initiated as a part of my university coursework to address the growing need for an efficient and user-friendly online grocery shopping experience. I am a dedicated student with a passion for technology and a vision to create impactful solutions.</p>
                <p>Throughout the development process, I have applied the best practices in software engineering, project management and more, ensuring a robust and scalable platform. I am proud of the progress I have made and am excited to share my work with the academic community and beyond.</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <h2>About Me</h2>
                <p>The project is undertaken by:</p>
                <ul>
                    <li><strong>Muhammad Aiman Haziq Bin Fairoshawal:</strong> Project Manager and Developer</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
